@import './styles/theme';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 100vh;

  .headerApp {
  }

  .mainApp {
    max-width: 130rem;
    margin: 0 auto;
  }

  .footerApp {
    width: 100%;
  }
}
