@use '../styles/_theme' as theme;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: theme.$headerSecondary;
  color: theme.$white;

  padding: 2rem;
  a {
    color: theme.$white;
  }
  h2 {
    text-align: right;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
    }
  }
}

.links {
  font-size: 1.6rem;
  padding: 1rem;
  z-index: 2;

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding: 0.5rem;
  }
}

.footerList {
  padding: 5px;

  @media (max-width: 768px) {
    padding: 2px;
  }
}

.copyright {
  font-size: 2.2rem;
  z-index: 2;

  p {
    font-size: 1.2rem;

    text-align: right;
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
    text-align: center;

    p {
      font-size: 1rem;
      text-align: center;
    }
  }
}

.created {
  background-color: theme.$headerSecondary;
  color: theme.$white;
  padding: 2rem;
  text-align: center;

  font-size: 1.6rem;

  height: auto;

  bottom: 0;
  width: 100%;
  z-index: 1;

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}
