@use '../styles/_theme' as theme;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 8px;
  padding: 2rem;
  background-color: theme.$headerPrimary;
  color: theme.$white;

  font-family: theme.$secondary-font-family;
  letter-spacing: 0.9ch;
  font-weight: bolder;
  white-space: nowrap;

  a {
    color: theme.$white;
    text-decoration: none;
  }
  nav {
    text-decoration: none;
    font-size: larger;
  }
}

.title {
  font-size: 3.4em;
  text-transform: uppercase;
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 4.8rem;
  margin-left: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}

.signup,
.auth,
.login {
  display: flex;
  place-items: center;
}

.signup {
  padding: 10px 30px 10px 30px;

  background-color: theme.$headerTertiary;
  border-color: theme.$headerTertiary;
  border-width: 4px;
  border-radius: 10px;
  border-style: solid;
  font-size: 20px;
  font-family: theme.$heading-font-family;

  &:hover {
    background-color: theme.$lighterMainGreen;
  }
}
.auth {
  padding: 1rem 3rem 1rem 3rem;
  background-color: transparent;
  border-color: theme.$headerTertiary;
  border-width: 4px;
  border-radius: 10px;
  border-style: solid;
  color: theme.$text-black;
  font-family: theme.$heading-font-family;
  font-size: 18px;
  text-align: center;

  &:hover {
    background-color: theme.$lighterMainGreen;
  }
}

.login {
  padding: 1rem 3rem 1rem 3rem;
  background-color: transparent;
  border-color: theme.$headerTertiary;
  border-width: 4px;
  border-radius: 10px;
  border-style: solid;
  color: theme.$text-black;
  font-family: theme.$heading-font-family;
  font-size: 20px;

  &:hover {
    background-color: theme.$lighterMainGreen;
  }
}

.login:hover {
  background-color: theme.$lighterMainGreen;
}
.signup:hover {
  background-color: theme.$lighterMainGreen;
}

@media (min-width: 240px) and (max-width: 320px) {
  .navbar {
    padding: 1rem;
    font-size: 1em;
  }
  .title {
    font-size: 3.2em;
  }
  .links {
    gap: 2rem;
    margin-left: 2rem;
    font-size: 1em;
  }
  .signup,
  .auth,
  .login {
    padding: 0.4rem, 1.2rem, 0.4rem, 1.2rem;
  }
  .signup {
    font-size: 12px;
  }
  .auth {
    font-size: 10px;
  }
  .login {
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .navbar {
    padding: 1rem;
    font-size: 1em;
  }
  .title {
    font-size: 3.2em;
  }
  .links {
    gap: 2rem;
    margin-left: 2rem;
    font-size: 1em;
  }
  .signup,
  .auth,
  .login {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  }
  .signup {
    font-size: 12px;
  }
  .auth {
    font-size: 10px;
  }
  .login {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .navbar {
    padding: 1.5rem;
    font-size: 1.2em;
  }
  .title {
    font-size: 2.6em;
  }
  .links {
    gap: 3rem;
    margin-left: 3rem;
    font-size: 1.2em;
  }
  .signup {
    font-size: 16px;
  }
  .auth {
    font-size: 14px;
  }
  .login {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 2rem;
    font-size: 1.4em;
  }
  .title {
    font-size: 3em;
  }
  .links {
    gap: 4rem;
    margin-left: 4rem;
    font-size: 1.4em;
  }
  .signup {
    font-size: 18px;
  }
  .auth {
    font-size: 16px;
  }
  .login {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  .navbar {
    // padding: 2rem;
    // font-size: 1.6em;
  }
  .title {
    // font-size: 3.4em;
  }
  .links {
    // gap: 4.8rem;
    // margin-left: 4.8rem;
    // font-size: 1.6em;
  }
  .signup {
    // font-size: 20px;
  }
  .auth {
    // font-size: 18px;
  }
  .login {
    // font-size: 20px;
  }
}
