@use '../../styles/_theme' as theme;

.homeContainer {
  margin-bottom: 9.6rem;
  margin: 0 auto;
  max-width: 120rem;

  .homeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    width: auto;

    h1 {
      text-transform: uppercase;
      font-size: 4.2rem;
      font-family: theme.$body-font-family;

      color: theme.$bodyRed;
      text-decoration: none;

      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      font-size: 2.4rem;
      text-align: center;
    }

    h2 {
      font-size: 4.2rem;
    }

    ol {
      margin-left: 1rem;
      li {
        font-size: 2.4rem;
        &::marker {
          font-size: 2.8rem;
          margin-right: 0.25rem;
        }
      }
    }

    a {
      text-decoration: none;
      width: auto;
      height: 40rem;

      .image {
        height: 100%;
        width: auto;

        transition: transform 0.5s;
      }
    }
    .links {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 3.8rem;
      font-family: theme.$body-font-family;
      color: theme.$bodyRed;
      text-align: center;
      height: fit-content;
    }
  }

  .image:hover {
    transform: scale(1.1);
  }
}
